<p>Key in the details of your listings </p>

<%= form_for @listing do |form| %>
  <p>
    <div>
      <%= form.label "Title: " %>
      <%= form.text_field :title %>
    </div>
    <br>
    <div>
      <%= form.label "Address: " %>
      <%= form.text_field :address %>
    </div>
    <br>
    <div>
      <%= form.label "Pax Number: " %>
      <%= form.text_field :pax %>
    </div>
    <br>
    <div>
      <%= form.label "Photos: " %>
      <%= form.file_field :photos, multiple: true %>
    </div>
  </p>

  <p>
    <%= form.submit "Submit Listing!" %>
  </p>
<% end %>
