<p>Key in the details of your listings </p>

<%= form_for @listing do |form| %>
  <p>
    <div>
      <%= form.label "Title: " %>
      <%= form.text_field :title %>
    </div>
    <br>
    <div>
      <%= form.label "Address: " %>
      <%= form.text_field :address %>
    </div>
    <br>
    <div>
      <%= form.label "State: " %>
      <%= form.text_field :state%>
    </div>
    <br>
    <div>
      <%= form.label "City: " %>
      <%= form.text_field :city%>
    </div>
    <br>
    <div>
      <%= form.label "Zipcode: " %>
      <%= form.text_field :zipcode%>
    </div>
    <br>
    <div>
      <%= form.label "Country: " %>
      <%= form.text_field :country %>
    </div>
    <br>
    <div>
      <%= form.label "Pax Number: " %>
      <%= form.text_field :pax %>
    </div>
    <br>
    <div>
      <%= form.label "Bed Number: " %>
      <%= form.text_field :bed_number%>
    </div>
    <br>
    <div>
      <%= form.label "Room Number: " %>
      <%= form.text_field :room_number %>
    </div>
    <br>
    <div>
      <%= form.label "Property Type: " %>
      <%= form.text_field :property_type %>
    </div>
    <br>
    <div>
      <%= form.label "Description: " %>
      <%= form.text_field :description %>
    </div>
    <br>
    <div>
      <%= form.label "Price: " %>
      <%= form.text_field :price %>
    </div>
    <br>
    <div>
      <%= form.label "Photos: " %>
      <%= form.file_field :photos, multiple: true %>
    </div>
  </p>

  <p>
    <%= form.submit "Submit Listing!" %>
  </p>
<% end %>
