<h1> Listings </h1>

<table class="table">
  <tr>
    <th>Listing</th>
    <th>Address</th>
    <th>State</th>
    <th>City</th>
    <th>Zipcode</th>
    <th>Country</th>
    <th>Photos</th>
    <th>Pax</th>
    <th>Bed Number</th>
    <th>Room Number</th>
    <th>Property Type</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
    <th></th>
  </tr>
  <% @listings.each do |l| %>
    <tr>
      <td> <%= link_to l.title, listing_path(l.id) %> </td>
      <td> <%= l.address %> </td>
      <td> <%= l.state %> </td>
      <td> <%= l.city %> </td>
      <td> <%= l.zipcode %> </td>
      <td> <%= l.country %> </td>
      <td> <% l.photos.each do |photo| %>
           <%= image_tag photo.medium, class: "img-response" %>
           <% end %>
      <td> <%= l.pax %> </td>
      <td> <%= l.bed_number %> </td>
      <td> <%= l.room_number %> </td>
      <td> <%= l.property_type %> </td>
      <td> <%= l.description %> </td>
      <td> <%= l.price %> </td>
      </td>
      <!-- one way to make chewbacca and yodamaster admin -->
      <% if current_user.email == "chewbacca@email.com" || "yodamaster@email.com" %>
      <!-- to find the current_user and then the listing id, current_user is auto defined in rails -->
      <td> <%= link_to "Edit", edit_user_listing_path(current_user, l.id) %> </td>
      <!-- to make it to the method delete, data is to have the pop out box with the message -->
      <td> <%= link_to "Delete", user_listing_path(current_user, l.id), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      <% end %>
    </tr>
  <% end %>
</table>

<p>Listing#index</p>
