<h1> All User's Listings </h1>
<table>
  <% @user.each do |u| %>
    <tr>
      <td> <%= u.firstname %> <%= u.lastname %> </td>
      <td> <%= u.email %> </td>
      <td> <%= link_to "Listings", user_listings_path(u) %> </td>
      <% if current_user.email == "chewbacca@email.com" || "yodamaster@email.com" %>
      <td> <%= link_to "Delete", user_path(u), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= paginate @user %>

<!-- <p>Users#index</p>
<p>Find me in app/views/users/index.html.erb</p> -->

<!-- anyone also can view the listing and edit, how to make it only that user can edit their own listing? -->
<!-- ronin 179, 180 (pagination and authorization) -->
