<h1> My Profile </h1>

<%= link_to "My Listing", user_listings_path(current_user) %>
<%= link_to "My Reservation", user_reservations_path(current_user) %>
<%= link_to "Edit Profile", edit_user_path(current_user) %>

<p> Username : <%= @user.firstname %> <%= @user.lastname %> </p>
<p> My Email : <%= @user.email %> </p>
<p> My Photo : <%= form_for @user do |f| %>
               <%= image_tag @user.photo.medium %>
               <% end %>
</p>

<br>
<br>

<!-- <p>Users#show</p>
<p>Find me in app/views/users/show.html.erb</p> -->
