<h1>Welcome to PairBnb!</h1>

<%= link_to 'My Profile', current_user %>
<%= link_to 'Create a listing', new_user_listing_path(current_user) %>
<%= link_to 'All Users', users_path %>
<%= link_to 'All Listings', listings_path %>
<%= link_to "Make Payment", braintree_new_path %>

<!-- or user_path(current_user) -->
<!-- <p>Welcome#index</p>
<p>Find me in app/views/welcome/index.html.erb</p> -->
