<!DOCTYPE html>
<html>
<head>
  <!-- already install gem bootstrap so no need to put here to link -->
  <!-- this one is css -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks': 'reload' %>
  <!-- this one is javascript -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tag %>

</head>
<body>
  <div id="header">
    <% if signed_in? -%>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
      <%= button_to ("Back"),  root_path, method: :get %>
    <% else -%>
<!-- the t translate to the user's language by defaut, is a rails ways -->
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>
<!-- make it a button for 'Back', method by default is POST, so change the method to get -->

  <%= yield %>
</body>
</html>
